body {
  background: #B2DFDB;
  font-family: helvetica, arial;
  align-items: center;
  justify-content: center;
}
.konversi {
  display: flex;
}
.dropbtn {
  background-color: #1A237E;
  color: white;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #283593;
}
.dropdown {
  margin: 30px;
  width: 100%;
  background-color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  overflow: auto;
}
.dropdown-content a {
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.show {display:block;}
.form-control {
  display: grid;
  width: 100%;
  height: 34px;
  border: 1px solid #ccc;
}
#rupiah {
  display: grid;
  align-items: center;
  justify-content: center;
}
